/auth/app
/orders/app
/notifications/app
.env
.vscode/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/terraform.tfvars
infra/.terraform.lock.hcl
infra/crash.log
infra/README.md
