# Copy this to terraform.tfvars and fill in your own values.
# terraform.tfvars is gitignored

github_owner = "your-github-username"
github_owner_id = "your_account_id"
github_repo = "your-repo-name"
github_repo_id = "your_repo_id"

# aws_region           = "us-east-1"
# project_name         = "microdemo"
# api_key_secret_value = "anything-you-want"
